{% extends "base_frame.html" %}
{% block page_content %}
    <div id="page-wrapper">
            <div class="row">
                <div class="col-lg-12">
                    <h1 class="page-header">业务-贷款情况</h1>
                </div>
                <!-- /.col-lg-12 -->
            </div>
            <!-- /.row -->
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> 昨日贷款金额情况
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="sumLoanMoneyT" style="width: 100%;height: 400px;"></div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
                 <div class="col-lg-6">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bell fa-fw"></i> 总体贷款金额情况
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="sumLoanMoney" style="width: 100%;height: 400px;"></div>
                            <!-- /.list-group -->
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <i class="fa fa-bar-chart-o fa-fw"></i> 贷款金额增长曲线
                        </div>
                        <!-- /.panel-heading -->
                        <div class="panel-body">
                            <div id="loanNO" style="width: 100%;height: 400px;"></div>
                        </div>
                        <!-- /.panel-body -->
                    </div>
                    <!-- /.panel -->
                </div>
            </div>
        </div>
        <!-- /#page-wrapper -->
        <script src="../static/js/echarts.min.js"></script>
        <script src="../static/js/jquery-3.2.1.min.js"></script>
        <script src="../static/js/flowLoan.js"></script>
{% endblock %}